header
{
	background-color: #009688;
	color: #FFC107;
	width: 100%;
	height: 5em;
	text-align: center;
	position: fixed;
	font-family: "Trebuchet MS";
	font-weight: bold;
	font-size: large;
	margin-top: 0;
}

footer
{
	background-color: #009688;
	color: #FFC107;
	width: 100%;
	height: 3em;
	font-family: "Trebuchet MS";
	position: absolute;
	bottom: 0;
	padding-bottom: 1em;	
}

footer a , footer a:visited
{
	color: #FFC107;
}

#conteneur
{
	width: 100%;
	top: 105px;
	left: 0;
	bottom: 50px;
	position: absolute;
	overflow:auto;
}

footer .flex-container
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-left: 3em;
	padding-right: 3em;
}

.flex-container
{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
}

a
{
	text-decoration: none;
}
#Menu1 
{
	font-family: "Comic Sans MS";
	background-color: #EA80FC;
	color: #9C27B0;
	text-align: center;
	font-style: italic;
	width: 25em;
	height: 17.5em;
	box-shadow: 3px 3px 3px #E0E0E0;
	margin-top: 5em;
	margin-bottom: 5em;
	padding-top: 7.5em;
}

a #Menu1 , #Menu1 a:visited
{
	color: #9C27B0;
}

#Menu2
{
	font-family: "Comic Sans MS";
	background-color: #ffcdd2;
	color: #FF5722;
	text-align: center;
	font-style: normal;
	width: 25em;
	height: 15em;
	box-shadow: 3px 3px 3px #E0E0E0;
	margin-top: 5em;
	margin-bottom: 5em;
	padding-top: 10em;
}

a #Menu2 , #Menu2 a:visited
{
	color: #FF5722;
}

#Menu3
{
	font-family: "Comic Sans MS";
	background-color: #BBDEFB;
	color: #3F51B5;
	text-align: center;
	font-style: italic;
	width: 25em;
	height: 15em;
	box-shadow: 3px 3px 3px #E0E0E0;
	margin-bottom: 5em;
	padding-top: 10em;
}

a #Menu3 , #Menu3 a:visited
{
	color: #3F51B5;
}

#Menu4
{
	font-family: "Comic Sans MS";
	background-color: #FAFAFA;
	color: #CDDC39;
	text-align: center;
	font-style: italic;
	width: 25em;
	height: 15em;
	box-shadow: 3px 3px 3px #E0E0E0;
	margin-bottom: 5em;
	padding-top: 10em;
}

a #Menu4 , #Menu4 a:visited
{
	color: #CDDC39;
}

#Prochain
{
	background-color: #009688;
	color: #FFC107;
	text-align: center;
	border: 1px #009688 solid;
	border-radius: 5px;
	margin-top: 10em;
	font-family: "Trebuchet MS";
	width: 25em;
	height: 2em;
	margin: 0 auto 5em auto;
	padding-bottom: 1.5em;

}

@media screen and (min-width: 280px) and (max-width: 767px)
{	
	footer
	{
		font-size: x-small;
	}

	.flex-container
	{
		display: flex;
	 	flex-direction: column;
		flex-wrap: nowrap;
	}

	#Menu1 , #Menu2 , #Menu3 , #Menu4
	{	
		width: 75%;
		margin-right: auto;
		margin-left: auto;
	}

	#Prochain
	{
		width: 50%;
	}

	#Menu2
	{
		margin-top: 0;
	}
}

@media screen and (min-width: 768px) and (max-width: 1024px)
{
	footer
	{
		font-size: medium;
	}

	#Menu1 , #Menu2 , #Menu3 , #Menu4 , #Prochain
	{	
		width: 40%;
		margin-right: auto;
		margin-left: auto;
	}

	#Menu1et2 .flex-container , #Menu3et4 .flex-container
	{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		flex-wrap: nowrap;
	}

}
