header
{
	background-color: #009688;
	color: #FFC107;
	width: 100%;
	height: 5em;
	text-align: center;
	position: fixed;
	font-family: "Trebuchet MS";
	font-weight: bold;
	font-size: large;
	margin-top: 0;
}

footer
{
	background-color: #009688;
	color: #FFC107;
	width: 100%;
	height: 3em;
	font-family: "Trebuchet MS";
	position: absolute;
	bottom: 0;	
}

#conteneur
{
	width: 100%;
	top: 105px;
	left: 0;
	bottom: 50px;
	position: absolute;
	overflow:auto;
}

footer .flex-container
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-left: 3em;
	padding-right: 3em;
}
